.Notification {
  padding: 5px;
}

@media (min-width: 769px) {
  .half-card {
    height: 100%;
    width: 100%;
    background-image: url('images/ingredients_hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

@media (min-width: 10px) {
  .side-img {
    height: 100%;
    width: 100%;
    background-image: url('images/ingredients_hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.divider {
  align-items: center;
  justify-content: center;
}

.content-card {
  height: 90%;
  width: 90%;
  border-radius: 1rem;
}

.login-page {
  height: 100%;
  width: 100%;
  background-color: #ccc;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
